@model IEnumerable<EMRedemption.Models.CouponViewModels.CouponViewModel>

@{
    ViewData["Title"] = "Manage Coupons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>COUPONS</h3>
<hr />

<p>
    <a class="btn btn-default" asp-action="Create">
        <span class="glyphicon glyphicon-plus"></span> New
    </a>

    <a class="btn btn-default" asp-action="Import">
        <span class="glyphicon glyphicon-import"></span>Import
    </a>
</p>

<form class="form-inline">
    <div class="form-group">
        <select class="form-control" id="sel1">
            <option>Available</option>
            <option>Used</option>
            <option>All</option>
        </select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Search code</label>
        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Search code">
    </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
</form>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsUsed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
