@model RewardListViewModel

@{
    ViewData["Title"] = "Manage Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>MANAGE REWARDS</h3>
<hr />


<form asp-controller="Reward" asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <select asp-for="FilterName" asp-items="Model.Filters" class="form-control"></select>
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Search reward info</label>
        <input name="search" type="text" class="form-control" placeholder="Search reward info">
    </div>

    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
</form>
<hr/>
<p>
    <a class="btn btn-default" asp-action="Create">
        <span class="glyphicon glyphicon-plus"></span> New
    </a>

    <a class="btn btn-default" asp-action="Import">
        <span class="glyphicon glyphicon-import"></span>Import
    </a>
</p>

@if (Model.Rewards.Count == 0)
{
    <p>
        <div class="alert alert-warning" role="alert">Not found reward item!</div>
    </p>
}
else
{
    @if (Model.FilterName.Equals(RewardStock.Avalible))
    {
        <p>
            <small>Aailable: @Model.Rewards.Count</small>
        </p>
    }
    else if (Model.FilterName.Equals(RewardStock.IsInUsed))
    {
        <p>
            <small> Is in used: @Model.Rewards.Count </small>
        </p>
    }
    else
    {
        <p>
            <small> All: @Model.Rewards.Count </small>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].RewardType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].LotNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].SerialNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].ExpireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].AddDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards[0].IsUsed)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rewards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @*<span class="label label-default">******</span>*@
                        @Html.DisplayFor(modelItem => item.SerialNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ExpireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsUsed)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}