@model EMRedemption.Models.RewardTypeViewModels.RewardTypeViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RewardTypeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RewardCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RewardName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RewardTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RewardTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
