@model IEnumerable<EMRedemption.Models.RedemptionViewModels.RedemptionViewModel>
@{
    ViewData["Title"] = "Manual Call Api";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manual Call Api</h2>

<hr/>
<form asp-controller="Redemption" asp-action="CallApi" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Search code</label>
        <input name="startDate" type="text" class="form-control" placeholder="Start Date">
    </div>
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Search code</label>
        <input name="endDate" type="text" class="form-control" placeholder="End Date">
    </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
</form>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerStoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RedeemDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="danger">
                <td>
                    @Html.DisplayFor(modelItem => item.LineNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailerStoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailerEmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetailerPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RedeemDateTime)
                </td>
            </tr>
            <tr>
            <tr></tr>
            @foreach (var detail in item.RedemptionItems)
            {
            <tr class="warning">
                <td></td>
                <td>
                    <b>@Html.DisplayFor(modelItem => detail.LineNo)</b>
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => detail.RewardCode):
                    <b>@Html.DisplayFor(modelItem => detail.RewardCode)</b>
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => detail.Points):
                    <b>@Html.DisplayFor(modelItem => detail.Points)</b>
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => detail.Quantity):
                    <b>@Html.DisplayFor(modelItem => detail.Quantity)</b>
                </td>
            </tr>
        }
            </tr>
        }
        </tbody>
    </table>
