@using EMRedemption.Entities
@model IList<ProcessRewardViewModel>
@{
    ViewData["Title"] = "ProcessRewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

<h2>Process Rewards</h2>

<hr />
<div class="jumbotron">
    <form asp-controller="Redemption" asp-action="ProcessRewards">
        <div asp-validation-summary="All" class="alert-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Trasaction ID
                    </th>
                    <th>
                        Retailer Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Redeem Date
                    </th>
                    <th>
                        Code Deliver
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in (IList<Redemption>)ViewData["Redemptions"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RetailerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RetailerEmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RedeemDateTime)
                        </td>
                        <td>
                            @if (item.Status == EMRedemption.Entities.RedemptionStatus.Processed)
                            {
                                <span class="label label-success">Ok</span>
                            }
                            else
                            {
                                <span class="label label-danger">Out of stock</span>
                            }
                        </td>
                        <td>
                    </tr>
                }
                @for (var i = 0; i < Model.Count; i++)
                {
                    @Html.HiddenFor(m => m[i].RewardId);
                    @Html.HiddenFor(m => m[i].RedemptionId);
                    @Html.HiddenFor(m => m[i].RedemptionItemId);
                    @Html.HiddenFor(m => m[i].Quantity);
                }

            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <a asp-action="ProcessRewardList" class="btn btn-primary">Cancel</a>
    </form>
</div>
