@model RedemptionListViewModel
@{
    ViewData["Title"] = "ProcessRewardList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>PROCESS REWARDS</h3>
<hr />

<form class="form-inline">
    <div class="form-group">
        <label class="sr-only">Search redemption info</label>
        <input asp-for="Keyword" type="text" class="form-control" placeholder="Search...">
    </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
</form>

<hr />
@if (Model.Redemptions.Count == 0)
{
    <p>
        <div class="alert alert-warning" role="alert">Not found redemptions!</div>
    </p>
}

else
{
    <p>
        <a asp-route="processRewards" class="btn btn-primary">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Process Rewards
        </a>
    </p>

    <p>
        <small>Redemption(s): <b>@Model.Redemptions.Count</b></small>
    </p>

    <table class="table active">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].TransactionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].RetailerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].RetailerStoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].RetailerPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].RetailerEmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Redemptions[0].RedeemDateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Model.Redemptions)
            {
                <tr class="success">
                    <td>
                        @Html.DisplayFor(modelItem => item.LineNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerStoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerEmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedeemDateTime)
                    </td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>#</td>
                    <td>Reward Code</td>
                    <td>Reward Name</td>
                    <td>Points</td>
                    <td>Quantity</td>
                    <td></td>
                </tr>
                <tr>
                    @foreach (var detail in item.RedemptionItems)
                    {
                    <tr class="table-condensed">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.LineNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.RewardCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.RewardName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.Quantity)
                        </td>
                        <td></td>
                    </tr>
                }
                    </tr>
                }
        </tbody>
    </table>
}
