@model IEnumerable<RedemptionViewModel>
@{
    ViewData["Title"] = "Retrieve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Load Daily Redemptions</h2>
<hr />
<p>
    @if (Model.Count() > 0)
    {
        var parms = new Dictionary<string, string>
    {
        {"redeemDate",ViewBag.RedeemDate},
        {"quantity",ViewBag.Quantity},
    };

        if (!ViewBag.IsSaveToDatabase)
        {
            <a class="btn btn-default" asp-route="confirmToStore" asp-all-route-data="parms">
                <span class="glyphicon glyphicon-floppy-save">Save</span>
            </a>
        }
        else
        {
        <p>
            <div class="alert alert-danger">Redemptions were already saved into database!</div>
        </p>
        }
    }
</p>
<form asp-controller="Redemption" asp-action="Retrieve" method="get" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Search code</label>
        <input class="form-control" name="redeemDate" type="date" value="@ViewBag.RedeemDate" />
    </div>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>Load</button>
    <p>
        <small>Redeem Date: <b>@ViewBag.RedeemDate</b> during time: <b>00:00 - 23:59</b> (24 hrs.)</small>
    </p>
</form>

<hr />
@if (Model.Count() == 0)
{
    <p>
        <div class="alert alert-warning" role="alert">Not found redemptions!</div>
    </p>
}
else
{
    <small>Redemption(s): <b>@Model.Count()</b></small>
    <table class="table">
        <thead>
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.LineNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailerStoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailerEmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RetailerPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedeemDateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Model)
            {
                <tr class="warning">
                    <td>
                        @Html.DisplayFor(modelItem => item.LineNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerStoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerEmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RetailerPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedeemDateTime)
                    </td>
                    <td></td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td>#</td>
                    <td>Reward Code</td>
                    <td>Reward Name</td>
                    <td>Points</td>
                    <td>Quantity</td>
                    <td></td>
                </tr>
                <tr>
                    @foreach (var detail in item.RedemptionItems)
                    {
                    <tr class="table-condensed">
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.LineNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.RewardCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.RewardName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => detail.Quantity)
                        </td>
                        <td></td>
                    </tr>
                }
                    </tr>
                }
        </tbody>
    </table>
}